<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <nav>
        <a href="/">Головна</a>
        <a href="/logout">Вийти</a>
    </nav>

    <h2>Вітаємо, <%= user.name || user.email %>!!!!!</h2>
    <p>Це захищена сторінка.</p>
</body>

</html>